{% if include.links == 'hash' %}
	<a href="{{ site.baseurl }}#{{ include.chapter.title | slugify }}">{% include chapter-text.html chapter=include.chapter %}</a>
{% else %}
	{% if chapter.url == page.url %}
		<a class="active" href="{{ site.baseurl }}{{ include.chapter.url }}#{{ include.chapter.title | slugify }}">{% include chapter-text.html chapter=include.chapter %}</a>
	{% else %}
		<a href="{{ site.baseurl }}{{ include.chapter.url }}#{{ include.chapter.title | slugify }}">{% include chapter-text.html chapter=include.chapter %}</a>
	{% endif %}
{% endif %}
