body {
	font-family: 'Gentium Book Basic', serif;
}

p {
	font-size: 1.6em;
	line-height: 1.6em;
}

h1 {
	margin: 0;
	font-size: 3em;
}

h2 {
	font-size: 1.8em;
	text-align: center;
	padding: 1em 0;

	.chapter-number {
		display: block;
		font-size: .8em;
		font-weight: normal;
		margin: 0 0 10px 0;
	}
}

h3 {
	font-size: 1.5em;
}

.author {
	font-size: 1.2em;
}

.toc {
	font-size: 1.3em;
	line-height: 1.6em;
}

a {
	color: #0A007C;
	text-decoration: none;
}