---
layout: default
---

<div class="wrap">
	{% if page.url == '/full.html' or page.url == '/full.pdf' or page.chapter_number == 1 %}
		{% assign preface = site.extras | where: 'title', 'Preface' | first %}
		<h2>Preface</h2>
		<p class="editor-link"><a href="cloudcannon:collections/{{ preface.path }}" class="btn"><strong>&#9998;</strong> Edit Preface</a></p>
		{{ preface.content | markdownify }}
		<hr>
	{% endif %}

	{% include toc.html links=page.toc %}
</div>

<div class="content">
	<div class="wrap">
		{{ content }}
	</div>
</div>


{% if page.url == '/full.html' or page.url == '/full.pdf' or page.chapter_number == 12 %}
	<div class="wrap">
		<hr>
		{% assign postface = site.extras | where: 'title', 'Postface' | first %}
		<h2>Postface</h2>
		<p class="editor-link"><a href="cloudcannon:collections/{{ postface.path }}" class="btn"><strong>&#9998;</strong> Edit Postface</a></p>
		{{ postface.content | markdownify }}
	</div>
{% endif %}
